@font-face {
    font-family: 'Righteous';
    src: url("../fonts/Righteous-Regular.ttf");
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-VariableFont.ttf");
}

html {
    font-family: 'Roboto', system-ui, sans-serif;
    color: black;
    font-size: 16px;
    @media screen and (width > 1080px) {
        font-size: 24px;
    }    
}

h1 {
    font-size: var(--fs-xxl);
}

h2 {
    font-size: var(--fs-xl);
}

h1, h2, #bouton1, #bouton2 {
    font-family: 'Righteous', system-ui, sans-serif;
}

/* @media (max-width: 370px) {
    html {
        font-size: var(--fs-base);
    }

    h1 {
        font-size: var(--fs-xl);
    }

    h2 {
        font-size: 1.4rem;
    }
} */

