@font-face {
    font-family: 'Righteous';
    src: url("./fonts/Righteous/Righteous-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url("./fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
    font-display: swap;
}

html {
    font-family: 'Roboto', system-ui, sans-serif;
    color: black;
    font-size: 16px;
}

h1 {
    font-size: 2rem;
    line-height: 8rem;
}

h2 {
    font-size: 1.5rem;
}

h1, h2 {
    font-family: 'Righteous', system-ui, sans-serif;
}

@media screen and (min-width: 1080px) {
    html {
        font-size: 20px;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 2.5rem;
    }
}