@font-face {
    font-family: 'Righteous';
    src: url("../fonts/Righteous-Regular.ttf");
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-VariableFont.ttf");
}

html {
    font-family: 'Roboto', system-ui, sans-serif;
    color: black;
    font-size: 16px;
}

h1 {
    font-size: 6rem;
    line-height: 1.1;
}

h2 {
    font-size: 1.75rem;
}

h1, h2, #bouton1, #bouton2 {
    font-family: 'Righteous', system-ui, sans-serif;
}

/* @media (max-width: 370px) {
    html {
        font-size: 15px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.4rem;
    }
} */