html {
scroll-behavior: smooth;
}

section {
    padding: 1rem 1rem;
}

 main {
    padding-top: 2rem;
 }

/* ---------------------------------------------------------- */
 /* Section download_report */
#h1_download_report {
    color: #7F0F00;
    text-align: left;
}

#img_download_report {
    border: 10px solid #FFFFFF;
    border-radius: 32px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

#download_report {
    text-align: left;
    padding: 0 3rem ;
    position: relative;
    z-index: 1;
}

#download_report > div {
    margin: 8rem 0;
}

.bouton-lien {
display: inline-block;
padding: 10px 20px;
background-color: var(--color-secondary);
color: white;
text-decoration: none; /* Enlève le soulignement */
border-radius: 5px; /* Coins arrondis */
font-family: sans-serif;
transition: background-color 0.3s;
margin-top: 5rem;
border: none;
}

.bouton-lien:hover {
background-color: var(--color-primary);
}

/* ---------------------------------------------------------- */
/* section introduction */
#introduction {
background-color: var(--color-secondary);
color: white;
position: relative;
z-index: 2;
margin-top: -12rem;
padding: 4rem 2rem;
}

/* ---------------------------------------------------------- */
/* section vignettes */
#vignettes {
    display: grid;
    gap: 1rem; /* espace entre les cellules */
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    padding: 0 3rem;
}

#vignettes > p {
        opacity: 50%;
}

#vignettes > img {
    width: 25vw;
    height: 25vw;
    object-fit: contain;
    display: block;
}

/* ---------------------------------------------------------- */
/* section teamList */
#clubs {
    padding: 0 3rem;
}
#teamList {
    display: grid;
    gap: 1rem; /* espace entre les cellules */
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.team-item {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 10px solid #FFFFFF;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.team-item img {
  width: 120px;
  height: 120px;
  object-fit: contain; /* conserve le logo entier */
  display: block;
}

@media (min-width: 1080px) {
    #teamList {
        grid-template-columns: repeat(4, 1fr);
        }
}
/* ---------------------------------------------------------- */
/* section banderole */
#banderole {
    padding: 3rem;
}

#banderole > p {
    border-left: 5px solid var(--color-secondary);
    color: var(--color-secondary);
    text-align: left;
    padding-left: 1rem;
}

/* ---------------------------------------------------------- */
/* section formulaire */
#formulaire {
    padding: 0 3rem;
}
#formulaire > h2 {
    padding: 2rem 0;
}
#form_text {
    background-color: #7F0F00;
    display: flex;
    flex-direction: column;
    gap: var(--whitespace);
    border-radius: 12px;
    padding: 2%;
}

#prenom, #nom, #email {
    border-radius: 12px;
    width: 100%;
    padding: 1.5rem;
}

#form_processus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form_processus > div {
    padding: 1rem;
}

#form_processus > button {
    padding: 1rem;
}
.form-group > input {
    border: none;
    outline: none;
}